.header {
    grid-area: h;
    background-color: aqua;
}
.header img {
    width:40px;
}
.loginBlock {
    float: right;
    width: 250px;
    margin-top: 20px
}
.login {
    display: flex;
    justify-content: space-between;
}
.loginBlock a {
    color: white;
}