.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItem {
    padding: 10px;
}

.dialogsItem .active {
    color:gold;
}

.dialog a {
   color:white;
    text-decoration: none;
}

.messages {
    margin-bottom: 20px;
}

.messages .message {
    color:white;
}

.item {
    margin: 20px;
}

.messageBlock {
    width: 500px;
    height: 100%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}



